export INFORMIXSERVER={{ informix_server_name }}{{ informix_server_name_suffix }}
export INFORMIXDIR={{ informix_install_path }}
export INFORMIXSQLHOSTS=$INFORMIXDIR/etc/sqlhosts.{{ informix_server_name }}
export ONCONFIG=onconfig.{{ informix_server_name }}
export PATH=$INFORMIXDIR/bin:$PATH
