export INFORMIXSERVER={{ informix_server_name }}
export INFORMIXDIR={{ informix_install_path }}
export INFORMIXSQLHOSTS=$INFORMIXDIR/etc/sqlhosts.$INFORMIXSERVER
export ONCONFIG=onconfig.$INFORMIXSERVER
export PATH=$INFORMIXDIR/bin:$PATH
